.modal-info-header {
  background-color: #2c7be5;
  border-color: #2c7be5;
}
.modal-info-footer {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}
h5 {
  color: #fff;
}
p {
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1.7rem;
}
span {
  display: inline;
  font-weight: 600;
}

.modal-info-container {
  margin: 1.7rem;
  padding: 0;
}
