.modalInfoHeader {
  background-color: #2c7be5;
  border-color: #2c7be5;
}
.modal-info-header-landing {
  background-color: rgb(166, 40, 28);
  border-color: rgb(166, 40, 28);
}
.modal-info-footer-landing {
  background-color: rgb(166, 40, 28);
  border-color: rgb(166, 40, 28);
  color: #fff;
}
.modalInfoFooter {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}

.pModalInfo {
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1.7rem;
}
.spanModalInfo {
  display: inline;
  font-weight: 600;
}
.modalInfoContainer {
  margin: 1.7rem;
  padding: 0;
}
