.items-position {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.carousel-span {
  top: 50%;
}
.carousel-title {
  top: 30%;
}
.carousel-button {
  top: 80%;
}
.carousel-text {
  color: white;
  text-align: center;
}
.carousel-image {
  max-width: 100%;
  object-fit: scale-down;
  object-position: center;
}
